node_modules
.build
.vscode
.DS_Store
dist   build/
dist/
*.log
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.idea
*.sublime-workspace
*.sublime-project
*.tgz
.cache
public/static
*.swp
*.zip
*.tar.gzbuild/
dist/
*.log
node_modules/
